.wrapper {
  width: 90%;
  height: 80vh;
  margin: auto;
  border-radius: 80px;
  background-color: #495e57;
  border: 1px solid red;
}

.flexContainer {
  border: 1px solid yellow;
  width: 50%;
  height: 70%;
  margin: 5vh 0 0 5vw;
}

.flexChild {
  margin: 2em 2em 2em 0;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  color: #f4ce14;
}
