* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #edefee;
  overflow-x: hidden;
}

input.input-error,
select.input-error {
  border: 1.5px solid #ff4640;
}

.error {
  color: #ff4640;
  font-size: 0.8em;
  text-align: left;
  margin-top: 0.25rem;
}
